In [11]:
import pandas as pd

In [12]:
df = pd.read_csv('../data/일산화탄소측정소.csv', encoding='ansi')

In [13]:
df.head(2)

,구분,항목,단위,2010.01 월,2010.02 월,2010.03 월,2010.04 월,2010.05 월,2010.06 월,2010.07 월,...,2022.06 월,2022.07 월,2022.08 월,2022.09 월,2022.10 월,2022.11 월,2022.12 월,2023.01 월,2023.02 월,Unnamed: 161
0,서소문동,월평균,NaN,1.0,0.8,0.7,0.7,0.7,0.6,0.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,중구,월평균,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,.3,.4,.3,.4,.4,.5,.5,0.72**,0.51**,NaN

In [14]:
long_df = df.melt(id_vars=['구분', '항목','단위'], 
                  var_name='STD_YYYYMM', 
                  value_name='일산화')

In [15]:
long_df.head(2)

     구분   항목  단위 STD_YYYYMM  일산화
0  서소문동  월평균 NaN  2010.01 월  1.0
1    중구  월평균 NaN  2010.01 월  NaN

In [16]:
long_df.rename(columns={'구분': 'SIDO'}, inplace=True)

In [17]:
# '오창읍' 데이터만 필터링
ochang_df = long_df[long_df['SIDO'] == '송정동']

In [20]:
# 출력할 최대 행 수를 설정
pd.set_option('display.max_rows', None)

# 데이터 프레임 출력
print(ochang_df)

       SIDO   항목  단위    STD_YYYYMM    일산화
132     송정동  월평균 NaN     2010.01 월    0.7
166     송정동  월평균 NaN     2010.01 월    NaN
326     송정동  월평균 NaN     2010.01 월    0.6
850     송정동  월평균 NaN     2010.02 월    0.6
884     송정동  월평균 NaN     2010.02 월    NaN
1044    송정동  월평균 NaN     2010.02 월    0.5
1568    송정동  월평균 NaN     2010.03 월    0.5
1602    송정동  월평균 NaN     2010.03 월    NaN
1762    송정동  월평균 NaN     2010.03 월    0.5
2286    송정동  월평균 NaN     2010.04 월    0.4
2320    송정동  월평균 NaN     2010.04 월    NaN
2480    송정동  월평균 NaN     2010.04 월    0.5
3004    송정동  월평균 NaN     2010.05 월    0.4
3038    송정동  월평균 NaN     2010.05 월    NaN
3198    송정동  월평균 NaN     2010.05 월    0.3
3722    송정동  월평균 NaN     2010.06 월    0.3
3756    송정동  월평균 NaN     2010.06 월    NaN
3916    송정동  월평균 NaN     2010.06 월    0.3
4440    송정동  월평균 NaN     2010.07 월    0.3
4474    송정동  월평균 NaN     2010.07 월    NaN
4634    송정동  월평균 NaN     2010.07 월    0.3
5158    송정동  월평균 NaN     2010.08 월    0.3
5192    송정동  월평균 NaN     2010.08 월    NaN
5352    송정동  월평균 NaN     2010.08 월    0.3
5876    송정동  월평균 NaN     2010.09 월    0.3
5910    송정동  월평균 NaN     2010.09 월    NaN
6070    송정동  월평균 NaN     2010.09 월    0.3
6594    송정동  월평균 NaN     2010.10 월    0.4
6628    송정동  월평균 NaN     2010.10 월    NaN
6788    송정동  월평균 NaN     2010.10 월    0.4
7312    송정동  월평균 NaN     2010.11 월    0.6
7346    송정동  월평균 NaN     2010.11 월    NaN
7506    송정동  월평균 NaN     2010.11 월    0.6
8030    송정동  월평균 NaN     2010.12 월    0.6
8064    송정동  월평균 NaN     2010.12 월    NaN
8224    송정동  월평균 NaN     2010.12 월    0.7
8748    송정동  월평균 NaN     2011.01 월    0.6
8782    송정동  월평균 NaN     2011.01 월    NaN
8942    송정동  월평균 NaN     2011.01 월    0.6
9466    송정동  월평균 NaN     2011.02 월    0.7
9500    송정동  월평균 NaN     2011.02 월    NaN
9660    송정동  월평균 NaN     2011.02 월    0.7
10184   송정동  월평균 NaN     2011.03 월    0.5
10218   송정동  월평균 NaN     2011.03 월    NaN
10378   송정동  월평균 NaN     2011.03 월    0.5
10902   송정동  월평균 NaN     2011.04 월    0.4
10936   송정동  월평균 NaN     2011.04 월    NaN
11096   송정동  월평균 NaN     2011.04 월    0.4
11620   송정동  월평균 NaN     2011.05 월    0.3
11654   송정동  월평균 NaN     2011.05 월    NaN
11814   송정동  월평균 NaN     2011.05 월    0.3
12338   송정동  월평균 NaN     2011.06 월    0.4
12372   송정동  월평균 NaN     2011.06 월    NaN
12532   송정동  월평균 NaN     2011.06 월    0.3
13056   송정동  월평균 NaN     2011.07 월    0.2
13090   송정동  월평균 NaN     2011.07 월    NaN
13250   송정동  월평균 NaN     2011.07 월    0.3
13774   송정동  월평균 NaN     2011.08 월    0.3
13808   송정동  월평균 NaN     2011.08 월    NaN
13968   송정동  월평균 NaN     2011.08 월    0.3
14492   송정동  월평균 NaN     2011.09 월    0.3
14526   송정동  월평균 NaN     2011.09 월    NaN
14686   송정동  월평균 NaN     2011.09 월    0.3
15210   송정동  월평균 NaN     2011.10 월    0.4
15244   송정동  월평균 NaN     2011.10 월    NaN
15404   송정동  월평균 NaN     2011.10 월    0.4
15928   송정동  월평균 NaN     2011.11 월    0.7
15962   송정동  월평균 NaN     2011.11 월    NaN
16122   송정동  월평균 NaN     2011.11 월    0.5
16646   송정동  월평균 NaN     2011.12 월    0.5
16680   송정동  월평균 NaN     2011.12 월    NaN
16840   송정동  월평균 NaN     2011.12 월    0.6
17364   송정동  월평균 NaN     2012.01 월    0.6
17398   송정동  월평균 NaN     2012.01 월    NaN
17558   송정동  월평균 NaN     2012.01 월    0.6
18082   송정동  월평균 NaN     2012.02 월    0.5
18116   송정동  월평균 NaN     2012.02 월    NaN
18276   송정동  월평균 NaN     2012.02 월    0.6
18800   송정동  월평균 NaN     2012.03 월    0.5
18834   송정동  월평균 NaN     2012.03 월    NaN
18994   송정동  월평균 NaN     2012.03 월    0.5
19518   송정동  월평균 NaN     2012.04 월    0.4
19552   송정동  월평균 NaN     2012.04 월    NaN
19712   송정동  월평균 NaN     2012.04 월    0.4
20236   송정동  월평균 NaN     2012.05 월    0.4
20270   송정동  월평균 NaN     2012.05 월    NaN
20430   송정동  월평균 NaN     2012.05 월    0.4
20954   송정동  월평균 NaN     2012.06 월    0.3
20988   송정동  월평균 NaN     2012.06 월    NaN
21148   송정동  월평균 NaN     2012.06 월    0.3
21672   송정동  월평균 NaN     2012.07 월    0.3
21706   송정동  월평균 NaN     2012.07 월    NaN
21866   송정동  월평균 NaN     2012.07 월    0.3
22390   송정동  월평균 NaN     2012.08 월    0.3
22424   송정동  월평균 NaN     2012.08 월    NaN
22584   송정동  월평균 NaN     2012.08 월    0.2
23108   송정동  월평균 NaN     2012.09 월    0.3
23142   송정동  월평균 NaN     2012.09 월    NaN
23302   송정동  월평균 NaN     2012.09 월    0.3
23826   송정동  월평균 NaN     2012.10 월    0.4
23860   송정동  월평균 NaN     2012.10 월    NaN
24020   송정동  월평균 NaN     2012.10 월    0.4
24544   송정동  월평균 NaN     2012.11 월    0.5
24578   송정동  월평균 NaN     2012.11 월    NaN
24738   송정동  월평균 NaN     2012.11 월    0.5
25262   송정동  월평균 NaN     2012.12 월    0.5
25296   송정동  월평균 NaN     2012.12 월    NaN
25456   송정동  월평균 NaN     2012.12 월    0.6
25980   송정동  월평균 NaN     2013.01 월    0.8
26014   송정동  월평균 NaN     2013.01 월    NaN
26174   송정동  월평균 NaN     2013.01 월    0.9
26698   송정동  월평균 NaN     2013.02 월    0.5
26732   송정동  월평균 NaN     2013.02 월    NaN
26892   송정동  월평균 NaN     2013.02 월    0.5
27416   송정동  월평균 NaN     2013.03 월    0.5
27450   송정동  월평균 NaN     2013.03 월    NaN
27610   송정동  월평균 NaN     2013.03 월    0.5
28134   송정동  월평균 NaN     2013.04 월    0.4
28168   송정동  월평균 NaN     2013.04 월    NaN
28328   송정동  월평균 NaN     2013.04 월    0.4
28852   송정동  월평균 NaN     2013.05 월    0.4
28886   송정동  월평균 NaN     2013.05 월    NaN
29046   송정동  월평균 NaN     2013.05 월    0.4
29570   송정동  월평균 NaN     2013.06 월    0.4
29604   송정동  월평균 NaN     2013.06 월    NaN
29764   송정동  월평균 NaN     2013.06 월    0.3
30288   송정동  월평균 NaN     2013.07 월    0.2
30322   송정동  월평균 NaN     2013.07 월    NaN
30482   송정동  월평균 NaN     2013.07 월    0.3
31006   송정동  월평균 NaN     2013.08 월    0.3
31040   송정동  월평균 NaN     2013.08 월    NaN
31200   송정동  월평균 NaN     2013.08 월    0.3
31724   송정동  월평균 NaN     2013.09 월    0.4
31758   송정동  월평균 NaN     2013.09 월    NaN
31918   송정동  월평균 NaN     2013.09 월    0.4
32442   송정동  월평균 NaN     2013.10 월    0.4
32476   송정동  월평균 NaN     2013.10 월    NaN
32636   송정동  월평균 NaN     2013.10 월    0.4
33160   송정동  월평균 NaN     2013.11 월    0.5
33194   송정동  월평균 NaN     2013.11 월    NaN
33354   송정동  월평균 NaN     2013.11 월    0.5
33878   송정동  월평균 NaN     2013.12 월    0.6
33912   송정동  월평균 NaN     2013.12 월    NaN
34072   송정동  월평균 NaN     2013.12 월    0.6
34596   송정동  월평균 NaN     2014.01 월    0.7
34630   송정동  월평균 NaN     2014.01 월    NaN
34790   송정동  월평균 NaN     2014.01 월    0.6
35314   송정동  월평균 NaN     2014.02 월    0.6
35348   송정동  월평균 NaN     2014.02 월    NaN
35508   송정동  월평균 NaN     2014.02 월    0.5
36032   송정동  월평균 NaN     2014.03 월    0.5
36066   송정동  월평균 NaN     2014.03 월    NaN
36226   송정동  월평균 NaN     2014.03 월    0.5
36750   송정동  월평균 NaN     2014.04 월    0.4
36784   송정동  월평균 NaN     2014.04 월    NaN
36944   송정동  월평균 NaN     2014.04 월    0.4
37468   송정동  월평균 NaN     2014.05 월    0.4
37502   송정동  월평균 NaN     2014.05 월    NaN
37662   송정동  월평균 NaN     2014.05 월    0.4
38186   송정동  월평균 NaN     2014.06 월    0.3
38220   송정동  월평균 NaN     2014.06 월    NaN
38380   송정동  월평균 NaN     2014.06 월    0.3
38904   송정동  월평균 NaN     2014.07 월    0.3
38938   송정동  월평균 NaN     2014.07 월    NaN
39098   송정동  월평균 NaN     2014.07 월    0.4
39622   송정동  월평균 NaN     2014.08 월    0.3
39656   송정동  월평균 NaN     2014.08 월    NaN
39816   송정동  월평균 NaN     2014.08 월    0.2
40340   송정동  월평균 NaN     2014.09 월    0.4
40374   송정동  월평균 NaN     2014.09 월    NaN
40534   송정동  월평균 NaN     2014.09 월    0.2
41058   송정동  월평균 NaN     2014.10 월     .4
41092   송정동  월평균 NaN     2014.10 월    NaN
41252   송정동  월평균 NaN     2014.10 월     .4
41776   송정동  월평균 NaN     2014.11 월     .5
41810   송정동  월평균 NaN     2014.11 월    NaN
41970   송정동  월평균 NaN     2014.11 월     .6
42494   송정동  월평균 NaN     2014.12 월     .6
42528   송정동  월평균 NaN     2014.12 월    NaN
42688   송정동  월평균 NaN     2014.12 월     .6
43212   송정동  월평균 NaN     2015.01 월     .6
43246   송정동  월평균 NaN     2015.01 월    NaN
43406   송정동  월평균 NaN     2015.01 월     .7
43930   송정동  월평균 NaN     2015.02 월     .6
43964   송정동  월평균 NaN     2015.02 월    NaN
44124   송정동  월평균 NaN     2015.02 월     .7
44648   송정동  월평균 NaN     2015.03 월     .5
44682   송정동  월평균 NaN     2015.03 월    NaN
44842   송정동  월평균 NaN     2015.03 월     .6
45366   송정동  월평균 NaN     2015.04 월     .4
45400   송정동  월평균 NaN     2015.04 월    NaN
45560   송정동  월평균 NaN     2015.04 월     .4
46084   송정동  월평균 NaN     2015.05 월     .3
46118   송정동  월평균 NaN     2015.05 월    NaN
46278   송정동  월평균 NaN     2015.05 월     .4
46802   송정동  월평균 NaN     2015.06 월    NaN
46836   송정동  월평균 NaN     2015.06 월    NaN
46996   송정동  월평균 NaN     2015.06 월     .4
47520   송정동  월평균 NaN     2015.07 월    NaN
47554   송정동  월평균 NaN     2015.07 월    NaN
47714   송정동  월평균 NaN     2015.07 월     .4
48238   송정동  월평균 NaN     2015.08 월    NaN
48272   송정동  월평균 NaN     2015.08 월    NaN
48432   송정동  월평균 NaN     2015.08 월     .4
48956   송정동  월평균 NaN     2015.09 월    NaN
48990   송정동  월평균 NaN     2015.09 월    NaN
49150   송정동  월평균 NaN     2015.09 월     .4
49674   송정동  월평균 NaN     2015.10 월    NaN
49708   송정동  월평균 NaN     2015.10 월    NaN
49868   송정동  월평균 NaN     2015.10 월     .5
50392   송정동  월평균 NaN     2015.11 월    NaN
50426   송정동  월평균 NaN     2015.11 월    NaN
50586   송정동  월평균 NaN     2015.11 월     .5
51110   송정동  월평균 NaN     2015.12 월    NaN
51144   송정동  월평균 NaN     2015.12 월    NaN
51304   송정동  월평균 NaN     2015.12 월     .6
51828   송정동  월평균 NaN     2016.01 월    NaN
51862   송정동  월평균 NaN     2016.01 월    NaN
52022   송정동  월평균 NaN     2016.01 월     .6
52546   송정동  월평균 NaN     2016.02 월    NaN
52580   송정동  월평균 NaN     2016.02 월    NaN
52740   송정동  월평균 NaN     2016.02 월     .5
53264   송정동  월평균 NaN     2016.03 월    NaN
53298   송정동  월평균 NaN     2016.03 월    NaN
53458   송정동  월평균 NaN     2016.03 월     .5
53982   송정동  월평균 NaN     2016.04 월    NaN
54016   송정동  월평균 NaN     2016.04 월    NaN
54176   송정동  월평균 NaN     2016.04 월    0.4
54700   송정동  월평균 NaN     2016.05 월    NaN
54734   송정동  월평균 NaN     2016.05 월    NaN
54894   송정동  월평균 NaN     2016.05 월     .4
55418   송정동  월평균 NaN     2016.06 월    NaN
55452   송정동  월평균 NaN     2016.06 월    NaN
55612   송정동  월평균 NaN     2016.06 월     .3
56136   송정동  월평균 NaN     2016.07 월    NaN
56170   송정동  월평균 NaN     2016.07 월    NaN
56330   송정동  월평균 NaN     2016.07 월     .3
56854   송정동  월평균 NaN     2016.08 월    NaN
56888   송정동  월평균 NaN     2016.08 월    NaN
57048   송정동  월평균 NaN     2016.08 월     .3
57572   송정동  월평균 NaN     2016.09 월    NaN
57606   송정동  월평균 NaN     2016.09 월    NaN
57766   송정동  월평균 NaN     2016.09 월     .3
58290   송정동  월평균 NaN     2016.10 월    NaN
58324   송정동  월평균 NaN     2016.10 월    NaN
58484   송정동  월평균 NaN     2016.10 월     .4
59008   송정동  월평균 NaN     2016.11 월    NaN
59042   송정동  월평균 NaN     2016.11 월    NaN
59202   송정동  월평균 NaN     2016.11 월     .6
59726   송정동  월평균 NaN     2016.12 월    NaN
59760   송정동  월평균 NaN     2016.12 월    NaN
59920   송정동  월평균 NaN     2016.12 월     .6
60444   송정동  월평균 NaN     2017.01 월    NaN
60478   송정동  월평균 NaN     2017.01 월    NaN
60638   송정동  월평균 NaN     2017.01 월     .6
61162   송정동  월평균 NaN     2017.02 월    NaN
61196   송정동  월평균 NaN     2017.02 월    NaN
61356   송정동  월평균 NaN     2017.02 월     .5
61880   송정동  월평균 NaN     2017.03 월    NaN
61914   송정동  월평균 NaN     2017.03 월    NaN
62074   송정동  월평균 NaN     2017.03 월     .5
62598   송정동  월평균 NaN     2017.04 월    NaN
62632   송정동  월평균 NaN     2017.04 월    NaN
62792   송정동  월평균 NaN     2017.04 월     .4
63316   송정동  월평균 NaN     2017.05 월    NaN
63350   송정동  월평균 NaN     2017.05 월    NaN
63510   송정동  월평균 NaN     2017.05 월     .3
64034   송정동  월평균 NaN     2017.06 월    NaN
64068   송정동  월평균 NaN     2017.06 월    NaN
64228   송정동  월평균 NaN     2017.06 월     .3
64752   송정동  월평균 NaN     2017.07 월    NaN
64786   송정동  월평균 NaN     2017.07 월    NaN
64946   송정동  월평균 NaN     2017.07 월     .3
65470   송정동  월평균 NaN     2017.08 월    NaN
65504   송정동  월평균 NaN     2017.08 월    NaN
65664   송정동  월평균 NaN     2017.08 월     .2
66188   송정동  월평균 NaN     2017.09 월    NaN
66222   송정동  월평균 NaN     2017.09 월    NaN
66382   송정동  월평균 NaN     2017.09 월     .3
66906   송정동  월평균 NaN     2017.10 월    NaN
66940   송정동  월평균 NaN     2017.10 월    NaN
67100   송정동  월평균 NaN     2017.10 월     .4
67624   송정동  월평균 NaN     2017.11 월    NaN
67658   송정동  월평균 NaN     2017.11 월    NaN
67818   송정동  월평균 NaN     2017.11 월     .5
68342   송정동  월평균 NaN     2017.12 월    NaN
68376   송정동  월평균 NaN     2017.12 월    NaN
68536   송정동  월평균 NaN     2017.12 월     .6
69060   송정동  월평균 NaN     2018.01 월    NaN
69094   송정동  월평균 NaN     2018.01 월    NaN
69254   송정동  월평균 NaN     2018.01 월     .5
69778   송정동  월평균 NaN     2018.02 월    NaN
69812   송정동  월평균 NaN     2018.02 월    NaN
69972   송정동  월평균 NaN     2018.02 월     .5
70496   송정동  월평균 NaN     2018.03 월    NaN
70530   송정동  월평균 NaN     2018.03 월    NaN
70690   송정동  월평균 NaN     2018.03 월     .4
71214   송정동  월평균 NaN     2018.04 월    NaN
71248   송정동  월평균 NaN     2018.04 월    NaN
71408   송정동  월평균 NaN     2018.04 월     .3
71932   송정동  월평균 NaN     2018.05 월    NaN
71966   송정동  월평균 NaN     2018.05 월    NaN
72126   송정동  월평균 NaN     2018.05 월     .3
72650   송정동  월평균 NaN     2018.06 월    NaN
72684   송정동  월평균 NaN     2018.06 월    NaN
72844   송정동  월평균 NaN     2018.06 월     .4
73368   송정동  월평균 NaN     2018.07 월    NaN
73402   송정동  월평균 NaN     2018.07 월    NaN
73562   송정동  월평균 NaN     2018.07 월     .3
74086   송정동  월평균 NaN     2018.08 월    NaN
74120   송정동  월평균 NaN     2018.08 월    NaN
74280   송정동  월평균 NaN     2018.08 월     .4
74804   송정동  월평균 NaN     2018.09 월    NaN
74838   송정동  월평균 NaN     2018.09 월    NaN
74998   송정동  월평균 NaN     2018.09 월     .3
75522   송정동  월평균 NaN     2018.10 월    NaN
75556   송정동  월평균 NaN     2018.10 월    NaN
75716   송정동  월평균 NaN     2018.10 월     .5
76240   송정동  월평균 NaN     2018.11 월    NaN
76274   송정동  월평균 NaN     2018.11 월    NaN
76434   송정동  월평균 NaN     2018.11 월     .7
76958   송정동  월평균 NaN     2018.12 월    NaN
76992   송정동  월평균 NaN     2018.12 월    NaN
77152   송정동  월평균 NaN     2018.12 월     .6
77676   송정동  월평균 NaN     2019.01 월    NaN
77710   송정동  월평균 NaN     2019.01 월    NaN
77870   송정동  월평균 NaN     2019.01 월     .7
78394   송정동  월평균 NaN     2019.02 월    NaN
78428   송정동  월평균 NaN     2019.02 월    NaN
78588   송정동  월평균 NaN     2019.02 월     .4
79112   송정동  월평균 NaN     2019.03 월    NaN
79146   송정동  월평균 NaN     2019.03 월    NaN
79306   송정동  월평균 NaN     2019.03 월     .4
79830   송정동  월평균 NaN     2019.04 월    NaN
79864   송정동  월평균 NaN     2019.04 월    NaN
80024   송정동  월평균 NaN     2019.04 월     .3
80548   송정동  월평균 NaN     2019.05 월    NaN
80582   송정동  월평균 NaN     2019.05 월    NaN
80742   송정동  월평균 NaN     2019.05 월     .3
81266   송정동  월평균 NaN     2019.06 월    NaN
81300   송정동  월평균 NaN     2019.06 월    NaN
81460   송정동  월평균 NaN     2019.06 월     .3
81984   송정동  월평균 NaN     2019.07 월    NaN
82018   송정동  월평균 NaN     2019.07 월    NaN
82178   송정동  월평균 NaN     2019.07 월     .3
82702   송정동  월평균 NaN     2019.08 월    NaN
82736   송정동  월평균 NaN     2019.08 월    NaN
82896   송정동  월평균 NaN     2019.08 월     .3
83420   송정동  월평균 NaN     2019.09 월    NaN
83454   송정동  월평균 NaN     2019.09 월    NaN
83614   송정동  월평균 NaN     2019.09 월     .3
84138   송정동  월평균 NaN     2019.10 월    NaN
84172   송정동  월평균 NaN     2019.10 월    NaN
84332   송정동  월평균 NaN     2019.10 월     .3
84856   송정동  월평균 NaN     2019.11 월    NaN
84890   송정동  월평균 NaN     2019.11 월    NaN
85050   송정동  월평균 NaN     2019.11 월     .5
85574   송정동  월평균 NaN     2019.12 월    NaN
85608   송정동  월평균 NaN     2019.12 월    NaN
85768   송정동  월평균 NaN     2019.12 월   0.5*
86292   송정동  월평균 NaN     2020.01 월    NaN
86326   송정동  월평균 NaN     2020.01 월    NaN
86486   송정동  월평균 NaN     2020.01 월     .5
87010   송정동  월평균 NaN     2020.02 월    NaN
87044   송정동  월평균 NaN     2020.02 월    NaN
87204   송정동  월평균 NaN     2020.02 월     .5
87728   송정동  월평균 NaN     2020.03 월    NaN
87762   송정동  월평균 NaN     2020.03 월    NaN
87922   송정동  월평균 NaN     2020.03 월     .4
88446   송정동  월평균 NaN     2020.04 월    NaN
88480   송정동  월평균 NaN     2020.04 월    NaN
88640   송정동  월평균 NaN     2020.04 월     .3
89164   송정동  월평균 NaN     2020.05 월    NaN
89198   송정동  월평균 NaN     2020.05 월    NaN
89358   송정동  월평균 NaN     2020.05 월     .4
89882   송정동  월평균 NaN     2020.06 월    NaN
89916   송정동  월평균 NaN     2020.06 월    NaN
90076   송정동  월평균 NaN     2020.06 월      0
90600   송정동  월평균 NaN     2020.07 월    NaN
90634   송정동  월평균 NaN     2020.07 월    NaN
90794   송정동  월평균 NaN     2020.07 월     .4
91318   송정동  월평균 NaN     2020.08 월    NaN
91352   송정동  월평균 NaN     2020.08 월    NaN
91512   송정동  월평균 NaN     2020.08 월     .4
92036   송정동  월평균 NaN     2020.09 월    NaN
92070   송정동  월평균 NaN     2020.09 월    NaN
92230   송정동  월평균 NaN     2020.09 월     .4
92754   송정동  월평균 NaN     2020.10 월    NaN
92788   송정동  월평균 NaN     2020.10 월    NaN
92948   송정동  월평균 NaN     2020.10 월     .4
93472   송정동  월평균 NaN     2020.11 월    NaN
93506   송정동  월평균 NaN     2020.11 월    NaN
93666   송정동  월평균 NaN     2020.11 월     .6
94190   송정동  월평균 NaN     2020.12 월    NaN
94224   송정동  월평균 NaN     2020.12 월    NaN
94384   송정동  월평균 NaN     2020.12 월     .7
94908   송정동  월평균 NaN     2021.01 월    NaN
94942   송정동  월평균 NaN     2021.01 월    NaN
95102   송정동  월평균 NaN     2021.01 월     .6
95626   송정동  월평균 NaN     2021.02 월    NaN
95660   송정동  월평균 NaN     2021.02 월    NaN
95820   송정동  월평균 NaN     2021.02 월     .5
96344   송정동  월평균 NaN     2021.03 월    NaN
96378   송정동  월평균 NaN     2021.03 월    NaN
96538   송정동  월평균 NaN     2021.03 월     .5
97062   송정동  월평균 NaN     2021.04 월    NaN
97096   송정동  월평균 NaN     2021.04 월    NaN
97256   송정동  월평균 NaN     2021.04 월     .4
97780   송정동  월평균 NaN     2021.05 월    NaN
97814   송정동  월평균 NaN     2021.05 월    NaN
97974   송정동  월평균 NaN     2021.05 월     .4
98498   송정동  월평균 NaN     2021.06 월    NaN
98532   송정동  월평균 NaN     2021.06 월    NaN
98692   송정동  월평균 NaN     2021.06 월     .4
99216   송정동  월평균 NaN     2021.07 월    NaN
99250   송정동  월평균 NaN     2021.07 월    NaN
99410   송정동  월평균 NaN     2021.07 월     .3
99934   송정동  월평균 NaN     2021.08 월    NaN
99968   송정동  월평균 NaN     2021.08 월    NaN
100128  송정동  월평균 NaN     2021.08 월     .4
100652  송정동  월평균 NaN     2021.09 월    NaN
100686  송정동  월평균 NaN     2021.09 월    NaN
100846  송정동  월평균 NaN     2021.09 월     .4
101370  송정동  월평균 NaN     2021.10 월    NaN
101404  송정동  월평균 NaN     2021.10 월    NaN
101564  송정동  월평균 NaN     2021.10 월     .5
102088  송정동  월평균 NaN     2021.11 월    NaN
102122  송정동  월평균 NaN     2021.11 월    NaN
102282  송정동  월평균 NaN     2021.11 월     .6
102806  송정동  월평균 NaN     2021.12 월    NaN
102840  송정동  월평균 NaN     2021.12 월    NaN
103000  송정동  월평균 NaN     2021.12 월     .6
103524  송정동  월평균 NaN     2022.01 월    NaN
103558  송정동  월평균 NaN     2022.01 월    NaN
103718  송정동  월평균 NaN     2022.01 월     .7
104242  송정동  월평균 NaN     2022.02 월    NaN
104276  송정동  월평균 NaN     2022.02 월    NaN
104436  송정동  월평균 NaN     2022.02 월     .6
104960  송정동  월평균 NaN     2022.03 월    NaN
104994  송정동  월평균 NaN     2022.03 월    NaN
105154  송정동  월평균 NaN     2022.03 월     .6
105678  송정동  월평균 NaN     2022.04 월    NaN
105712  송정동  월평균 NaN     2022.04 월    NaN
105872  송정동  월평균 NaN     2022.04 월     .5
106396  송정동  월평균 NaN     2022.05 월    NaN
106430  송정동  월평균 NaN     2022.05 월    NaN
106590  송정동  월평균 NaN     2022.05 월     .5
107114  송정동  월평균 NaN     2022.06 월    NaN
107148  송정동  월평균 NaN     2022.06 월    NaN
107308  송정동  월평균 NaN     2022.06 월     .4
107832  송정동  월평균 NaN     2022.07 월    NaN
107866  송정동  월평균 NaN     2022.07 월  0.3**
108026  송정동  월평균 NaN     2022.07 월     .4
108550  송정동  월평균 NaN     2022.08 월    NaN
108584  송정동  월평균 NaN     2022.08 월     .3
108744  송정동  월평균 NaN     2022.08 월     .3
109268  송정동  월평균 NaN     2022.09 월    NaN
109302  송정동  월평균 NaN     2022.09 월     .5
109462  송정동  월평균 NaN     2022.09 월     .3
109986  송정동  월평균 NaN     2022.10 월    NaN
110020  송정동  월평균 NaN     2022.10 월     .6
110180  송정동  월평균 NaN     2022.10 월     .5
110704  송정동  월평균 NaN     2022.11 월    NaN
110738  송정동  월평균 NaN     2022.11 월     .6
110898  송정동  월평균 NaN     2022.11 월     .7
111422  송정동  월평균 NaN     2022.12 월    NaN
111456  송정동  월평균 NaN     2022.12 월     .6
111616  송정동  월평균 NaN     2022.12 월     .6
112140  송정동  월평균 NaN     2023.01 월    NaN
112174  송정동  월평균 NaN     2023.01 월    .55
112334  송정동  월평균 NaN     2023.01 월    .62
112858  송정동  월평균 NaN     2023.02 월    NaN
112892  송정동  월평균 NaN     2023.02 월    .44
113052  송정동  월평균 NaN     2023.02 월    .59
113576  송정동  월평균 NaN  Unnamed: 161    NaN