In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('data/월별질병합침2006-2022(뇌졸심근제거).csv')
df2 = pd.read_csv('data/월별기온합침2000-2022.csv')
df3 = pd.read_csv('data/월별대기오염합침2015-2023.csv')
df4 = pd.read_csv('data/월별중금속합침2013-2023.csv')

In [3]:
# STD_YYYYMM과 SIDO 컬럼을 기준으로 데이터프레임 병합
merged_df = pd.merge(df1, df2, on=['STD_YYYYMM', 'SIDO'], how='inner')
merged_df = pd.merge(merged_df, df3, on=['STD_YYYYMM', 'SIDO'], how='inner')
merged_df = pd.merge(merged_df, df4, on=['STD_YYYYMM', 'SIDO'], how='inner')

In [4]:
merged_df

,STD_YYYYMM,SIDO,비염환자수,아토피환자수,천식환자수,평균기온,평균상대습도,평균증기압,평균최고기온,평균최저기온,...,AVG_망간,망간_BAD,AVG_비소,비소_BAD,AVG_철,철_BAD,AVG_카드뮴,카드뮴_BAD,AVG_크롬,크롬_BAD
0,201501,서울특별시,377167,28189,53718,-0.9,56.0,3.4,3.6,-4.8,...,0.0375,Y,0.0072,Y,0.8326,Y,0.0014,Y,0.0033,N
1,201502,서울특별시,391955,25469,53754,1.0,59.0,4.1,6.0,-2.9,...,0.0342,Y,0.0094,Y,0.8572,Y,0.0013,Y,0.0031,N
2,201503,서울특별시,456140,31604,60610,6.3,45.0,4.4,12.4,1.0,...,0.0259,N,0.0053,Y,0.7821,Y,0.0007,N,0.0025,N
3,201504,서울특별시,429844,30585,60421,13.3,54.0,8.0,18.8,8.4,...,0.0324,Y,0.0080,Y,1.1489,Y,0.0011,Y,0.0029,N
4,201505,서울특별시,320863,33323,50343,18.9,53.0,11.0,24.9,13.6,...,0.0275,N,0.0036,N,0.9437,Y,0.0010,Y,0.0028,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1435,202208,경상남도,108328,8306,8727,26.2,82.2,27.8,30.3,22.9,...,0.0235,N,0.0006,N,0.2333,N,0.0002,N,0.0048,Y
1436,202209,경상남도,135927,7578,12709,21.8,76.0,19.8,27.1,17.7,...,0.0191,N,0.0032,N,0.2916,N,0.0003,N,0.0016,N
1437,202210,경상남도,139660,7262,13831,15.4,68.9,12.2,22.0,10.0,...,0.0378,Y,0.0020,N,0.3145,N,0.0004,N,0.0012,N
1438,202211,경상남도,154846,6545,12240,11.0,65.3,8.6,18.4,5.1,...,0.0621,Y,0.0023,N,0.9140,Y,0.0005,N,0.0050,Y
1439,202212,경상남도,172837,6625,12876,1.1,54.9,3.7,6.7,-3.7,...,0.0364,Y,0.0029,N,0.5139,N,0.0003,N,0.0030,N

In [23]:
# 년월별 그룹바이해서 NAN 값 대체 

for col in merged_df.columns:
    if merged_df[col].isna().any() and col not in ['SIDO', 'STD_YYYYMM']:
        merged_df[col] = merged_df.groupby(['STD_YYYYMM'])[col].transform(lambda x: x.fillna(x.mean()).round(4))

In [6]:
# 데이터프레임 내에 NaN 값이 있는지 확인
nan_exists = merged_df.isna().any().any()

# 결과 출력
print(f"merged_df에 NaN 값이 존재합니까? {nan_exists}")

merged_df에 NaN 값이 존재합니까? False

In [5]:
merged_df.isna().sum()

STD_YYYYMM     0
SIDO           0
비염환자수          0
아토피환자수         0
천식환자수          0
평균기온           0
평균상대습도         0
평균증기압          0
평균최고기온         0
평균최저기온         0
평균풍속           0
AVG_PM10       0
PM10_BAD       0
PM10_80BAD     0
AVG_PM2.5      0
PM2_BAD        0
PM2_35BAD      0
AVG_아황산        0
아황산_0.05BAD    0
아황산_BAD        0
AVG_이산화        0
이산화_0.06BAD    0
이산화_0.03BAD    0
이산화_BAD        0
AVG_일산화        0
일산화_9BAD       0
일산화_BAD        0
차량수            0
AVG_구리         0
구리_BAD         0
AVG_납          0
납_0.5BAD       0
납_BAD          0
AVG_니켈         0
니켈_BAD         0
AVG_망간         0
망간_BAD         0
AVG_비소         0
비소_BAD         0
AVG_철          0
철_BAD          0
AVG_카드뮴        0
카드뮴_BAD        0
AVG_크롬         0
크롬_BAD         0
dtype: int64

In [26]:
# 마지막 남은 NAN 값 대체
for col in merged_df.columns:
    if merged_df[col].isna().any() and col not in ['SIDO', 'STD_YYYYMM']:
        merged_df[col] = merged_df[col].transform(lambda x: x.fillna(x.mean()).round(4))

In [8]:
merged_df.tail(1)

,STD_YYYYMM,SIDO,비염환자수,아토피환자수,천식환자수,평균기온,평균상대습도,평균증기압,평균최고기온,평균최저기온,...,AVG_망간,망간_BAD,AVG_비소,비소_BAD,AVG_철,철_BAD,AVG_카드뮴,카드뮴_BAD,AVG_크롬,크롬_BAD
1439,202212,경상남도,172837,6625,12876,1.1,54.9,3.7,6.7,-3.7,...,0.0364,Y,0.0029,N,0.5139,N,0.0003,N,0.003,N

In [7]:
merged_df.head(1)

,STD_YYYYMM,SIDO,비염환자수,아토피환자수,천식환자수,평균기온,평균상대습도,평균증기압,평균최고기온,평균최저기온,...,AVG_망간,망간_BAD,AVG_비소,비소_BAD,AVG_철,철_BAD,AVG_카드뮴,카드뮴_BAD,AVG_크롬,크롬_BAD
0,201501,서울특별시,377167,28189,53718,-0.9,56.0,3.4,3.6,-4.8,...,0.0375,Y,0.0072,Y,0.8326,Y,0.0014,Y,0.0033,N

In [30]:
# STD_YYYYMM의 값이 10000 이하인 행을 제거
merged_df = merged_df[merged_df['STD_YYYYMM'] > 10000]

In [29]:
merged_df['구리_BAD'].value_counts()

N    1278
Y     690
Name: 구리_BAD, dtype: int64

In [9]:
merged_df.to_csv('data/월별데이터합침2015-2022.csv', index=False)