In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('../data/test/pm10_2.csv')
df2 = pd.read_csv('../data/test/pm25_2.csv')
df3 = pd.read_csv('../data/test/아황산.csv')
df4 = pd.read_csv('../data/test/이산화.csv')
df5 = pd.read_csv('../data/test/일산화.csv')
df6 = pd.read_csv('../data/test/차량.csv')

In [3]:
# STD_YYYYMM과 SIDO 컬럼을 기준으로 데이터프레임 병합
merged_df = pd.merge(df1, df2, on=['STD_YYYYMM', 'SIDO'], how='inner')
merged_df = pd.merge(merged_df, df3, on=['STD_YYYYMM', 'SIDO'], how='inner')
merged_df = pd.merge(merged_df, df4, on=['STD_YYYYMM', 'SIDO'], how='inner')
merged_df = pd.merge(merged_df, df5, on=['STD_YYYYMM', 'SIDO'], how='inner')
merged_df = pd.merge(merged_df, df6, on=['STD_YYYYMM', 'SIDO'], how='inner')

In [4]:
merged_df

,SIDO,STD_YYYYMM,AVG_PM10,PM10_BAD,PM10_80BAD,AVG_PM2.5,PM2_BAD,PM2_35BAD,AVG_아황산,아황산_0.05BAD,아황산_BAD,AVG_이산화,이산화_0.06BAD,이산화_0.03BAD,이산화_BAD,AVG_일산화,일산화_9BAD,일산화_BAD,차량수
0,서울특별시,201501,49.00,Y,N,25.00,Y,N,0.007,N,Y,0.037,N,Y,Y,0.700,N,Y,3021688.0
1,부산광역시,201501,47.00,Y,N,27.00,Y,N,0.007,N,Y,0.022,N,N,Y,0.400,N,N,1219593.0
2,대구광역시,201501,54.00,Y,N,33.00,Y,N,0.005,N,Y,0.031,N,Y,Y,0.500,N,Y,1076512.0
3,인천광역시,201501,53.00,Y,N,31.00,Y,N,0.007,N,Y,0.030,N,N,Y,0.800,N,Y,1257579.0
4,광주광역시,201501,43.00,Y,N,27.00,Y,N,0.004,N,N,0.024,N,N,Y,0.600,N,Y,592020.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1563,충청남도,202302,51.00,Y,N,33.94,Y,N,0.003,N,N,0.017,N,N,N,0.463,N,N,1219974.0
1564,전라북도,202302,45.21,Y,N,30.93,Y,N,0.002,N,N,0.013,N,N,N,0.391,N,N,982378.0
1565,전라남도,202302,34.73,N,N,20.57,N,N,0.003,N,N,0.011,N,N,N,0.404,N,N,1240837.0
1566,경상북도,202302,36.48,N,N,24.04,Y,N,0.003,N,N,0.013,N,N,N,0.428,N,N,1532547.0
1567,제주특별자치도,202302,28.50,N,N,15.00,N,N,0.002,N,N,0.008,N,N,N,0.340,N,N,693716.0

In [6]:
# 년월별 그룹바이해서 NAN 값 대체 

for col in merged_df.columns:
    if merged_df[col].isna().any() and col not in ['SIDO', 'STD_YYYYMM']:
        merged_df[col] = merged_df.groupby(['STD_YYYYMM'])[col].transform(lambda x: x.fillna(x.mean()).round(4))

In [7]:
merged_df.isna().sum()

SIDO           0
STD_YYYYMM     0
AVG_PM10       0
PM10_BAD       0
PM10_80BAD     0
AVG_PM2.5      0
PM2_BAD        0
PM2_35BAD      0
AVG_아황산        0
아황산_0.05BAD    0
아황산_BAD        0
AVG_이산화        0
이산화_0.06BAD    0
이산화_0.03BAD    0
이산화_BAD        0
AVG_일산화        0
일산화_9BAD       0
일산화_BAD        0
차량수            0
dtype: int64

In [26]:
# 마지막 남은 NAN 값 대체
for col in merged_df.columns:
    if merged_df[col].isna().any() and col not in ['SIDO', 'STD_YYYYMM']:
        merged_df[col] = merged_df[col].transform(lambda x: x.fillna(x.mean()).round(4))

In [8]:
merged_df.tail()

,SIDO,STD_YYYYMM,AVG_PM10,PM10_BAD,PM10_80BAD,AVG_PM2.5,PM2_BAD,PM2_35BAD,AVG_아황산,아황산_0.05BAD,아황산_BAD,AVG_이산화,이산화_0.06BAD,이산화_0.03BAD,이산화_BAD,AVG_일산화,일산화_9BAD,일산화_BAD,차량수
1563,충청남도,202302,51.00,Y,N,33.94,Y,N,0.003,N,N,0.017,N,N,N,0.463,N,N,1219974.0
1564,전라북도,202302,45.21,Y,N,30.93,Y,N,0.002,N,N,0.013,N,N,N,0.391,N,N,982378.0
1565,전라남도,202302,34.73,N,N,20.57,N,N,0.003,N,N,0.011,N,N,N,0.404,N,N,1240837.0
1566,경상북도,202302,36.48,N,N,24.04,Y,N,0.003,N,N,0.013,N,N,N,0.428,N,N,1532547.0
1567,제주특별자치도,202302,28.50,N,N,15.00,N,N,0.002,N,N,0.008,N,N,N,0.340,N,N,693716.0

In [9]:
merged_df.head(1)

,SIDO,STD_YYYYMM,AVG_PM10,PM10_BAD,PM10_80BAD,AVG_PM2.5,PM2_BAD,PM2_35BAD,AVG_아황산,아황산_0.05BAD,아황산_BAD,AVG_이산화,이산화_0.06BAD,이산화_0.03BAD,이산화_BAD,AVG_일산화,일산화_9BAD,일산화_BAD,차량수
0,서울특별시,201501,49.0,Y,N,25.0,Y,N,0.007,N,Y,0.037,N,Y,Y,0.7,N,Y,3021688.0

In [30]:
# STD_YYYYMM의 값이 10000 이하인 행을 제거
merged_df = merged_df[merged_df['STD_YYYYMM'] > 10000]

In [29]:
merged_df['구리_BAD'].value_counts()

N    1278
Y     690
Name: 구리_BAD, dtype: int64

In [10]:
merged_df.to_csv('data/월별대기오염합침2015-2023.csv', index=False)