In [108]:
import pandas as pd
import numpy as np

In [109]:
df = pd.read_excel('../03.신영화/data/납 월별 도시별 대기오염도.xlsx', header=None)
df.head(5)

,0,1,2,3,4,5,6,7,8,9,...,110,111,112,113,114,115,116,117,118,119
0,2013.01 월,2013.02 월,2013.03 월,2013.04 월,2013.05 월,2013.06 월,2013.07 월,2013.08 월,2013.09 월,2013.10 월,...,2022.03 월,2022.04 월,2022.05 월,2022.06 월,2022.07 월,2022.08 월,2022.09 월,2022.10 월,2022.11 월,2022.12 월
1,0.0839,0.0959,0.1009,0.094,0.1116,0.0676,0.0866,0.0251,0.0214,0.0138,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.0846,0.042,0.1215,0.1385,0.1506,0.112,0.0342,0.0413,0.0332,0.031,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0171,0.0086,0.0138,0.0034,0.0119,0.0196,0.0074,0.0132,0.0203,0.0237
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0183,0.0092,0.0133,0.004,0.01,0.0145,0.0096,0.0105,0.0214,0.0228

In [110]:
df = df.rename(columns=df.iloc[0])        #첫번째 행을 column으로 지정
df.head(3)

,2013.01 월,2013.02 월,2013.03 월,2013.04 월,2013.05 월,2013.06 월,2013.07 월,2013.08 월,2013.09 월,2013.10 월,...,2022.03 월,2022.04 월,2022.05 월,2022.06 월,2022.07 월,2022.08 월,2022.09 월,2022.10 월,2022.11 월,2022.12 월
0,2013.01 월,2013.02 월,2013.03 월,2013.04 월,2013.05 월,2013.06 월,2013.07 월,2013.08 월,2013.09 월,2013.10 월,...,2022.03 월,2022.04 월,2022.05 월,2022.06 월,2022.07 월,2022.08 월,2022.09 월,2022.10 월,2022.11 월,2022.12 월
1,0.0839,0.0959,0.1009,0.094,0.1116,0.0676,0.0866,0.0251,0.0214,0.0138,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.0846,0.042,0.1215,0.1385,0.1506,0.112,0.0342,0.0413,0.0332,0.031,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [111]:
df = df.drop(df.index[0])        #첫번째 행을 삭제한다
df

,2013.01 월,2013.02 월,2013.03 월,2013.04 월,2013.05 월,2013.06 월,2013.07 월,2013.08 월,2013.09 월,2013.10 월,...,2022.03 월,2022.04 월,2022.05 월,2022.06 월,2022.07 월,2022.08 월,2022.09 월,2022.10 월,2022.11 월,2022.12 월
1,0.0839,0.0959,0.1009,0.094,0.1116,0.0676,0.0866,0.0251,0.0214,0.0138,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.0846,0.042,0.1215,0.1385,0.1506,0.112,0.0342,0.0413,0.0332,0.031,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0171,0.0086,0.0138,0.0034,0.0119,0.0196,0.0074,0.0132,0.0203,0.0237
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0183,0.0092,0.0133,0.004,0.01,0.0145,0.0096,0.0105,0.0214,0.0228
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,0.0404,0.0206,0.0501,0.0451,0.0145,0.0068,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110,0.0682,0.0162,0.1004,0.0307,0.0591,0.0415,0.0219,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111,0.0475,0.0097,0.0889,0.0249,0.0292,0.0096,0.0032,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
112,0.0585,0.0192,0.1094,0.0318,0.0425,0.0234,0.009,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [112]:
df.fillna(0, inplace=True)

In [113]:
df = df.apply(pd.to_numeric, errors='coerce')
df

,2013.01 월,2013.02 월,2013.03 월,2013.04 월,2013.05 월,2013.06 월,2013.07 월,2013.08 월,2013.09 월,2013.10 월,...,2022.03 월,2022.04 월,2022.05 월,2022.06 월,2022.07 월,2022.08 월,2022.09 월,2022.10 월,2022.11 월,2022.12 월
1,0.0839,0.0959,0.1009,0.0940,0.1116,0.0676,0.0866,0.0251,0.0214,0.0138,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
2,0.0846,0.0420,0.1215,0.1385,0.1506,0.1120,0.0342,0.0413,0.0332,0.0310,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
3,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0171,0.0086,0.0138,0.0034,0.0119,0.0196,0.0074,0.0132,0.0203,0.0237
4,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0183,0.0092,0.0133,0.0040,0.0100,0.0145,0.0096,0.0105,0.0214,0.0228
5,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
109,0.0404,0.0206,0.0501,0.0451,0.0145,0.0068,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
110,0.0682,0.0162,0.1004,0.0307,0.0591,0.0415,0.0219,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
111,0.0475,0.0097,0.0889,0.0249,0.0292,0.0096,0.0032,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
112,0.0585,0.0192,0.1094,0.0318,0.0425,0.0234,0.0090,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000

In [114]:
df.mean()
df

,2013.01 월,2013.02 월,2013.03 월,2013.04 월,2013.05 월,2013.06 월,2013.07 월,2013.08 월,2013.09 월,2013.10 월,...,2022.03 월,2022.04 월,2022.05 월,2022.06 월,2022.07 월,2022.08 월,2022.09 월,2022.10 월,2022.11 월,2022.12 월
1,0.0839,0.0959,0.1009,0.0940,0.1116,0.0676,0.0866,0.0251,0.0214,0.0138,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
2,0.0846,0.0420,0.1215,0.1385,0.1506,0.1120,0.0342,0.0413,0.0332,0.0310,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
3,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0171,0.0086,0.0138,0.0034,0.0119,0.0196,0.0074,0.0132,0.0203,0.0237
4,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0183,0.0092,0.0133,0.0040,0.0100,0.0145,0.0096,0.0105,0.0214,0.0228
5,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
109,0.0404,0.0206,0.0501,0.0451,0.0145,0.0068,0.0000,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
110,0.0682,0.0162,0.1004,0.0307,0.0591,0.0415,0.0219,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
111,0.0475,0.0097,0.0889,0.0249,0.0292,0.0096,0.0032,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000
112,0.0585,0.0192,0.1094,0.0318,0.0425,0.0234,0.0090,0.0000,0.0000,0.0000,...,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000

In [115]:
df.loc['평균'] = df.mean()
df

,2013.01 월,2013.02 월,2013.03 월,2013.04 월,2013.05 월,2013.06 월,2013.07 월,2013.08 월,2013.09 월,2013.10 월,...,2022.03 월,2022.04 월,2022.05 월,2022.06 월,2022.07 월,2022.08 월,2022.09 월,2022.10 월,2022.11 월,2022.12 월
1,0.083900,0.09590,0.10090,0.09400,0.111600,0.067600,0.086600,0.0251,0.021400,0.013800,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
2,0.084600,0.04200,0.12150,0.13850,0.150600,0.112000,0.034200,0.0413,0.033200,0.031000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.00000,0.00000,0.00000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,...,0.017100,0.008600,0.013800,0.003400,0.011900,0.01960,0.007400,0.013200,0.020300,0.023700
4,0.000000,0.00000,0.00000,0.00000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,...,0.018300,0.009200,0.013300,0.004000,0.010000,0.01450,0.009600,0.010500,0.021400,0.022800
5,0.000000,0.00000,0.00000,0.00000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109,0.040400,0.02060,0.05010,0.04510,0.014500,0.006800,0.000000,0.0000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
110,0.068200,0.01620,0.10040,0.03070,0.059100,0.041500,0.021900,0.0000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
111,0.047500,0.00970,0.08890,0.02490,0.029200,0.009600,0.003200,0.0000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
112,0.058500,0.01920,0.10940,0.03180,0.042500,0.023400,0.009000,0.0000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000
평균,0.035771,0.02157,0.03955,0.02053,0.022324,0.017865,0.010574,0.0151,0.013312,0.009417,...,0.012336,0.006644,0.011337,0.006139,0.009477,0.01009,0.009458,0.009041,0.014173,0.013852

In [117]:
df.to_csv('data/납_2.csv', index=True)