In [8]:
import pandas as pd

In [9]:
df = pd.read_csv('data/전국 위도,경도 값.csv')
df.head()

,구분,행정구역코드,1단계,2단계,3단계,격자 X,격자 Y,경도(시),경도(분),경도(초),위도(시),위도(분),위도(초),경도(초/100),위도(초/100),위치업데이트
0,kor,1100000000,서울특별시,NaN,NaN,60,127,126,58,48.03,37,33,48.85,126.980008,37.563569,NaN
1,kor,1111000000,서울특별시,종로구,NaN,60,127,126,58,53.91,37,34,13.36,126.981642,37.570378,NaN
2,kor,1111051500,서울특별시,종로구,청운효자동,60,127,126,58,14.35,37,35,2.89,126.970652,37.584137,NaN
3,kor,1111053000,서울특별시,종로구,사직동,60,127,126,58,15.44,37,34,23.77,126.970956,37.573269,NaN
4,kor,1111054000,서울특별시,종로구,삼청동,60,127,126,59,2.32,37,34,56.73,126.983978,37.582425,NaN

In [10]:
# 필요없는 컬럼 삭제
df.drop(columns=['구분','행정구역코드','경도(시)','경도(분)','경도(초)','위도(시)','위도(분)','위도(초)','경도(초/100)','위도(초/100)','위치업데이트'], inplace=True)
df.head()

     1단계  2단계    3단계  격자 X  격자 Y
0  서울특별시  NaN    NaN    60   127
1  서울특별시  종로구    NaN    60   127
2  서울특별시  종로구  청운효자동    60   127
3  서울특별시  종로구    사직동    60   127
4  서울특별시  종로구    삼청동    60   127